
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.eot');
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icons/fonts/icomoon.eot?uimoul');
  src:  url('../assets/icons/fonts/icomoon.eot?uimoul#iefix') format('embedded-opentype'),
    url('../assets/icons/fonts/icomoon.ttf?uimoul') format('truetype'),
    url('../assets/icons/fonts/icomoon.woff?uimoul') format('woff'),
    url('../assets/icons/fonts/icomoon.svg?uimoul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wi-cloudy:before {
  content: "\e900";
}
.icon-wi-day-cloudy:before {
  content: "\e901";
}
.icon-wi-night-cloudy:before {
  content: "\e902";
}
.icon-wi-rain:before {
  content: "\e903";
}
.icon-wi-sleet:before {
  content: "\e904";
}
.icon-wi-windy:before {
  content: "\e905";
}
.icon-wi-snow:before {
  content: "\e906";
}
.icon-wi-fog:before {
  content: "\e907";
}
.icon-wi-night-clear:before {
  content: "\e908";
}
.icon-wi-day-sunny:before {
  content: "\e909";
}
.icon-arrow:before {
  content: "\e90d";
}
.icon-image:before {
  content: "\e90a";
}
.icon-mic-off:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e90c";
}
.icon-refresh:before {
  content: "\e90e";
}

$whitePrimary: rgba(255, 255, 255, 1);
$hoverBackColor: rgba(174, 181, 185, 1);
$backOverlay: rgba(8, 15, 26, 1);
$lightGray: rgba(255,255,255, 0.3);
$darkGray: rgba(255,255,255,0.1);
$fontPrimary: 'Montserrat Medium';
$cloudColor: #E4E3E3;

html {
color: $whitePrimary;
font-family: $fontPrimary;
background-size: cover;
background-position: center;
&::after {
  content: "";
  background-color: $backOverlay;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
}

body {
  display: grid;
  grid-template: 20% max-content / minmax(max-content, 40%) max-content;
  align-items: center;
  grid-template-areas:
      "controls search"
      "content map";
  gap: 2rem;
  width: max-content;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

controls {
  grid-area: controls;
  font-size: 0.8rem;
  display: flex;
  height: 2.5rem;
  .load-image {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../assets/icons/refresh.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whitePrimary;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: contain;
    margin: 0 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .language-selection-set {
    display: flex;
    position: relative;
    width: fit-content;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $lightGray;
    border-radius: 5px;
    margin: 0 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
    &.active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    select {
      display: none;
    }
    .selected-language {
      margin-right: 0.5rem;
    }
    .language-droplist {
      position: absolute;
      background-color: #53575F;
      width: 100%;
      align-self: flex-start;
      top: 2.5rem;
      left: 0rem;
      box-shadow: 0px 3px 6px black;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
      &.hide {
        display: none;
      }
      .droplist-option {
        padding: 0.5rem;

        &:hover {
          background-color: $hoverBackColor;
        }
      }
    }
    span {
      transition: 0.2s ease-in-out;
      opacity: 0.4;
       &.rotate {
        transform: rotate(180deg);
        transition: 0.2s ease-in-out;
      }
    }
  }

  .units-selection-set {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
    border-radius: 5px;
    margin: 0 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    div {
      padding: 30% 1rem;
      &:hover {
        cursor: pointer;
      }
      &.selected-unit-system {
        background-color: $lightGray;
      }
    }
  }
}

map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.2rem;
  #yamaps-map {
    width: 400px;
    height: 400px;
    border-radius: 3rem;
    overflow: hidden;
    display: block;
    pointer-events:none;
    justify-self: center;
    margin: 2rem 0;
    #map {
      width: 400px;
      height: 450px;
    }
  }

}

search {
  grid-area: search;
  font-size: 0.8rem;
  width: 100%;
  justify-self: center;
  form {
    height: 2.5rem;
  input[type=text] {
    outline: none;
    background-color: $darkGray;
    border: 1px solid $lightGray;
    border-radius: 5px 0 0 5px;
    height: 100%;
    box-sizing: border-box;
    color: $whitePrimary;
    padding: 0 0.5rem;
    width: 75%;
    &::placeholder {
      color: $whitePrimary;
    }
  }

  input[type=submit] {
    background-color: $lightGray;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    height: 100%;
    box-sizing: border-box;
    color: $whitePrimary;
    padding: 0 0.5rem;
    font-weight: 600;
    width: 25%;
    &:hover {
      cursor: pointer;
    }
  }
}
}

content {
  grid-area: content;
  margin-right: 3rem;
  .city-and-date {
    font-size: 1.3rem;
    .city {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 600;
    }
    .week-day {
      display: inline-block;
    }
    .date {
      display: inline-block;
      margin: 0 1rem;
    }
    .time {
      display: inline-block;
    }
  }

  .current-temperature {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 2rem 0;;
    .temperature {
      display: flex;
      font-size: 20rem;
      line-height: 20rem;
      position: relative;
    }
    span {
      font-size: 10rem;
      position: absolute;
      left: 100%;
      color: $cloudColor;
      &.degree-unit {
        position: initial;
        color: $whitePrimary;
        z-index: 10;
        line-height: initial;
        margin-right: 1rem;
      }
    }
    .summary {
      align-self: flex-end;
      font-size: 1.5rem;
      margin-left: 5rem;
      div {
        margin: 0.5rem 1rem;
      }
    }
  }

  .three-day-temperature {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    .temperature {
      font-size: 5rem;
      display: flex;
      .icon {
        color: $cloudColor;
        font-size: 3rem;
      }
    }
    .week-day {
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1025px) {
  body {
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    grid-template-areas:
        "controls search"
        "content content"
        "map map";
    width: 100%;
    padding: 0;
    gap: 0;
    search {
      margin: 2rem 0;
      width: 90%;
    }
    content {
      margin: 4rem 0;
      width: 80%;
      .current-temperature {
        margin: 4rem 0;
        .temperature {
          font-size: 20vw;
          line-height: initial;
          span {
            top: -5vh;
            font-size: 20vw;
          }
          .degree-unit {
            font-size: 15vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    grid-template: 1fr / 1fr;
    justify-items: center;
    grid-template-areas:
        "search"
        "controls"
        "content"
        "map";
    width: 100%;
    padding: 0;
    search {
      margin-top: 1rem;
      width: 90%;
    }
    content {
      margin: 0;
      width: 90%;
      .city-and-date {
        margin-top: 2rem;
      }
      .current-temperature {
        flex-direction: column;
        margin-top: 5rem;
        .temperature {
          font-size: 50vw;
          line-height: initial;
          span {
            font-size: 50vw;
            top: -5vh;
            left: 50%;
          }
          .degree-unit {
            font-size: 50vw;
          }
        }
        .summary {
          align-self: flex-start;;
          margin-left: 0;
          font-size: 5vw;
        }
      }
      .three-day-temperature {
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 5vw;
        .single-day-temperature {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          .temperature {
            font-size: 12vw;

          }
        }
      }
    }
    map {
      margin-bottom: 1rem;
      #yamaps-map {
        width: 310px;
        height: 310px;
        #map {
          width: 310px;
          height: 350px;
        }
      }
    }
  }
}
