@font-face {
    font-family: 'Roboto Light';
    src: url('../assets/fonts/Roboto/Roboto-Light.eot');
    src: url('../assets/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icons/icomoon.eot?53cn1s');
    src:  url('../assets/fonts/icons/icomoon.eot?53cn1s#iefix') format('embedded-opentype'),
      url('../assets/fonts/icons/icomoon.ttf?53cn1s') format('truetype'),
      url('../assets/fonts/icons/icomoon.woff?53cn1s') format('woff'),
      url('../assets/fonts/icons/icomoon.svg?53cn1s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-back-forth:before {
    content: "\e900";
  }
  .icon-arrow-up-down:before {
    content: "\e901";
  }
  .icon-burger:before {
    content: "\e902";
  }
  .icon-paint-bucket:before {
    content: "\e903";
  }
  .icon-pencil:before {
    content: "\e904";
  }
  .icon-pocker:before {
    content: "\e905";
  }
  .icon-three-dots:before {
    content: "\e906";
  }

* {
    margin: 0;
}

$roboto: 'Roboto Light';
$buttonColor: rgba(0, 188, 212, 1);
$disabledButtonColor: grey;

body {
    font-family: $roboto;    
}

header {
    display: grid;
    width: 100%;
    grid-template: 3rem / max-content 1fr max-content;
    gap: 1.5rem;;
    align-items: center;
    box-shadow: 0 3px 5px lightgray;

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    span {
        margin: 0.5rem 1rem;
        opacity: 0.7;
        &:hover {
            cursor: pointer;
        }
    }
}

main {
    padding-top: 2rem;;
    display: grid;
    gap: 1rem;
    grid-template: repeat(4, max-content) / 30% 70%;
    align-items: center;
    justify-items: center;

    .tools {
        grid-row: 1 / 3;
        grid-column: 1 / 2;        
    }

    .colors {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }

    .panel {
        border: 1px solid lightgray;      
        box-shadow: 0 3px 5px lightgray;
        margin: 1rem;
        hr {
            border-style: none;
            border-top: 1px solid lightgray;
        }  
        .panel-item {            
            display: flex;
            margin: 1.5rem 2rem;
            align-items: center;

            .colors__circle {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                border: 1px solid black;
                margin-right: 2rem;

                &.gray {
                    background-color: gray;
                }

                &.green {
                    background-color: green;
                }

                &.red {
                    background-color: red;
                }

                &.blue {
                    background-color: blue;
                }

                &:hover {
                    cursor: pointer;
                }
            }
            
            span {
                margin-right: 2rem;
            }
            label {               
                &:hover {
                    cursor: pointer;
                }
            }

            input[type="radio" i]{
                display: none;
            }

            input[disabled] + label {
                color: grey;
                cursor: default;
            }

            input[checked] + label span {
                color: rgb(234, 0, 255);
            }

            input[type="color"] {
                display: none;
            }
            
        }
    }

    .canvases {
        grid-row: 2 / 4;
        grid-column: 2 / 3; 

        canvas {
               display: inline;
               border: 1px solid lightgray;      
        }
    }

    .search-component {        
        grid-row: 1/2;
        grid-column: 2/3;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 512px;        

        .search-component__bar-container {
            position: relative;
            margin-right: 30%;

            input {
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                outline: none;
                border: none;
                box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
                font-family: $roboto;
                font-size: 1rem;
    
                &[placeholder] {
                    padding: 0.5rem 0 0.5rem 1rem;   
                }

                &.show {
                    border-radius: 0.5rem 0.5rem 0 0;
                }
            }

            ul {

                display: none;

                &.show {
                    display: initial;
                    position: absolute;
                    background: white;
                    border-radius: 0 0 0.5rem 0.5rem;
                    font-family: $roboto;
                    padding: 0.5rem;
                    width: 100%;
                    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    
                    p {
                        padding: 0.5rem;
                        &:hover {
                            cursor: pointer;
                            color: $buttonColor;
                        }
                    }   
                }
            }
        }       

        button {
    
            background-color: $buttonColor;
            outline: none;
            border: 1px solid $buttonColor;
            border-radius: 0.5rem;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            color: #FFFFFF;
            padding: 0.5rem;
            font-size: 1rem;
            font-family: $roboto;
            transition: transform .3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }           

            &:active {
                background-color: transparent;
                color: $buttonColor;
                box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
            }

            &[disabled] {
                background-color: $disabledButtonColor;
                border: 1px solid $disabledButtonColor;
                color: white;
                transform: none;
                cursor: default;
            }
        }
    }
    
    
}